/* Start Global Variables */
:root {
    --background-color: #f2f2f2;
    --front-color: #333;
    --hover-background-color: #8d8181;
}
  /* End Global Variables */

/* starting HeaderNavbar styling :  */
.headerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 10px;
}

.headerLogo a {
    font-size: 24px;
    font-weight: bold;
    color: var(--front-color);
    text-decoration: none;
    transition: 0.3s;
}

.headerLogo a:hover {
    color: var(--hover-background-color);
}

.search-box {
    display: grid;
    margin-left: 29px;
    margin-top: 38px;
    height: 335px;
    text-align: center;
}

.search-box input {
    text-align: center;
    font-size: 18px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.search-box button {
    font-size: 18px;
    padding: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--front-color);
    color: #fff;
    transition: 0.3s;
}

.search-box button:hover {
    background-color: var(--hover-background-color);
    color: #333;
}

.link-to-details {
    text-decoration: none;
    color: var(--front-color);
}

/* .the-book-details {
    display: none;
} */

/* .headerSearch {
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* .headerSearch input {
    width: 300px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
} */

/* .headerSearch button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--front-color);
    color: #fff;
    transition: 0.3s;
} */

/* .headerSearch button:hover {
    background-color: var(--hover-background-color);
    color: #333;
} */

.headerUser button {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    background-color: var(--front-color);
    color: #fff;
    transition: 0.3s;
}

.headerUser button:hover {
    background-color: var(--hover-background-color);
    color: #333;
}

@media(max-width:685px) {
    
    .headerLogo a {
        font-size: 22px;
    }
    .headerSearch input {
        width: 180px;
    }
        
} 

@media(max-width:560px) {
    
    .headerLogo a {
        font-size: 20px;
    }
    .headerSearch input {
        width: 125px;
    }
        
} 
/* ending HeaderNavbar styling  */



/* starting NotFound styling :  */
.notFoundComponent h1 {
    font-size: 48px;
    color: var(--front-color);
    margin: 0;
    text-align: center;
    margin-top: 100px;
}
.notFoundComponent p {
    font-size: 24px;
    color: var(--hover-background-color);
    text-align: center;
    margin-top: 20px;
}
.notFoundComponent a {
    color: var(--front-color);
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
    display: block;
    text-align: center;
}
.notFoundComponent a:hover {
    text-decoration: underline;
    color: var(--front-color);
}
/* ending NotFound styling :  */



/* starting hero section styling :  */
.hero {
    background-image: url('../public/books2.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    margin: 0;
    padding: 0;
}

.hero p {
    font-size: 1.5rem;
    margin-top: 1rem;
}
/* ending hero section styling :  */



/* starting Featured Products section styling */
.featured-products {
    background-color: #f2f2f2;
    padding: 80px 0;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
    margin-top: 50px;
}

.featured-products h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
}

.all-books-text {
    text-align: end;
    font-size: 24px;
    color: rgb(70, 67, 67);
    cursor: pointer;
    text-decoration: underline;
    margin-right: 66px;
}

.all-books-text:hover {
    font-weight: bold;
}

.all-books-style {
    padding: 40px 0;
}

.product {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.product img {
    width: 200px;
    height: 200px;
}

.product h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.product p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}

.product .btn {
    background-color: #ff9900;
    color: #fff;
    text-decoration: none;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product .btn:hover {
    background-color: #ffae33;
}

/* ending Featured Products section styling */

/* starting BookDetails styling */
.header-of-bookDetails {
    background-color: var(--front-color);
    color: #fff;
    text-align: center;
    padding: 10px;
}

.main-of-bookDetails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.book-image-details {
    flex: 1 1 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.request-book{
    text-align: center;
    font-size: 15px;
    color: red;
    text-decoration: underline;
    cursor: pointer;
}

.request-book:hover {
    color: #834040;
}

.book-image-details img {
    max-width: 100%;
    height: 345px;
}

.book-details {
    flex: 1 1 400px;
}

.book-details h2 {
    font-size: 24px;
    margin-top: 0;
}

.book-details p {
    font-size: 16px;
    margin-bottom: 25px;
}

.book-details button {
    background-color: var(--front-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    transition: 0.3s;
}

.book-details button:hover {
    background-color: var(--hover-background-color);
    color: #333;
}

.buttonBookDetails {
    background-color: var(--front-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    transition: 0.3s;
}

.buttonBookDetails:hover {
    background-color: var(--hover-background-color);
    color: #333;
}

.comments-section {
    margin-top: 2rem;
    padding-left: 85px;
}

.comments-section h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.comments-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.comments-section li {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.comments-section li h4 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.comments-section li p {
    font-size: 1rem;
    line-height: 1.5;
}

/* ending BookDetails styling */

/* starting Request Book styling */

.request-text {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

form label {
    font-size: 20px;
    margin-bottom: 10px;
}

form input[type="text"] {
    padding: 10px;
    font-size: 18px;
    border: none;
    border-bottom: 2px solid #ccc;
    width: 100%;
    margin-bottom: 20px;
}

.feedback-request {
    text-align: center;
    color: green;
}

form button[type="submit"] {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #2196f3;
    color: #fff;
    border: none;
    margin-bottom: 80px;
    cursor: pointer;
}

/* ending Request Book styling */

/* starting footer styling */
.footer {
    background-color: #f8f8f8;
    padding: 50px 0;
}

.row-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}


.col-md-4 {
    text-align: center;
}

.footer h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer li {
    margin-bottom: 10px;
}

.footer a {
    color: var(--front-color);
    text-decoration: none;
}

.footer a:hover {
    color: var(--hover-background-color);
}


.footer p {
    color: var(--hover-background-color);
    font-size: 14px;
    color: var(--front-color);
    font-weight: bold;
    margin-top: 30px;
    text-align: center;
}
/* ending footer styling */
