/* Start Global Variables */
:root {
    --background-color: #f2f2f2;
    --front-color: #333;
    --hover-background-color: #8d8181;
}
  /* End Global Variables */

/* starting HeaderNavbar styling :  */
.headerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 10px;
}

.headerLogo a {
    font-size: 24px;
    font-weight: bold;
    color: var(--front-color);
    text-decoration: none;
    transition: 0.3s;
}

.headerLogo a:hover {
    color: var(--hover-background-color);
}

.search-box {
    text-align: center;
}

.search-box input {
    font-size: 18px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    width: 250px;
    margin-right: 15px;
}

.search-box-button {
    width: 100px;
    font-size: 18px;
    padding: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--front-color);
    color: #fff;
    transition: 0.3s;
}

.search-box-button:hover {
    background-color: var(--hover-background-color);
    color: #333;
}

.go-cart-mode {
    width: 100px;
    font-size: 18px;
    background-color: rgb(232, 226, 116);
    color: black;
    padding: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
    margin-left: 15px;
}

.go-cart-mode:hover {
    background-color: rgb(162, 157, 70);
    color: rgb(153, 244, 128);
}

.link-to-details {
    text-decoration: none;
    color: var(--front-color);
}

.headerUser button {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    background-color: var(--front-color);
    color: #fff;
    transition: 0.3s;
}

.headerUser button:hover {
    background-color: var(--hover-background-color);
    color: #333;
}

@media(max-width:685px) {
    
    .headerLogo a {
        font-size: 22px;
    }
    .headerSearch input {
        width: 180px;
    }
        
} 

@media(max-width:560px) {
    
    .headerLogo a {
        font-size: 20px;
    }
    .headerSearch input {
        width: 125px;
    }
        
} 
/* ending HeaderNavbar styling  */

/* starting login styling  */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 90px;
}

.login-container h1 {
    margin-bottom: 2rem;
}

.login-container form {
    width: 300px;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 7px;
}

.login-container button[type="submit"] {
    width: 100%;
    padding: 0.75rem;
    margin-top: 30px;
    font-size: 1rem;
    background-color: var(--front-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.login-container button[type="submit"]:hover {
    background-color: var(--hover-background-color);
    color: #333;
}

/* ending login styling  */

/* starting signUp styling */
.signup-container {
    display: flex;
    margin-bottom: 90px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup-container h1 {
    margin-bottom: 2rem;
}

.signup-container form {
    width: 300px;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form-group-2 {
    margin-bottom: 1rem;
}

.form-group-2 label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-group-2 input[type="text"],
.form-group-2 input[type="email"],
.form-group-2 input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.signup-container button[type="submit"] {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    margin-top: 30px;
    background-color: var(--front-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.signup-container button[type="submit"]:hover {
    background-color: var(--hover-background-color);
    color: #333;
}

.signup-container p {
    text-align: center;
    margin-top: 1rem;
}

p a {
    color: var(--front-color);
    text-decoration: none;
}

p a:hover {
    font-weight: bold;
    text-decoration: underline;
}
/* ending signUp styling */

/* starting NotFound styling :  */
.notFoundComponent h1 {
    font-size: 48px;
    color: var(--front-color);
    margin: 0;
    text-align: center;
    margin-top: 100px;
}
.notFoundComponent p {
    font-size: 24px;
    color: var(--hover-background-color);
    text-align: center;
    margin-top: 20px;
}
.notFoundComponent a {
    color: var(--front-color);
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
    display: block;
    text-align: center;
}
.notFoundComponent a:hover {
    text-decoration: underline;
    color: var(--front-color);
}
/* ending NotFound styling :  */

/* starting hero section styling :  */
.hero {
    background-image: url('../public/books2.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    margin: 0;
    padding: 0;
}

.hero p {
    font-size: 1.5rem;
    margin-top: 1rem;
}
/* ending hero section styling :  */

/* starting Featured Products section styling */
.featured-products {
    background-color: #f2f2f2;
    padding: 80px 0;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
    margin-top: 50px;
}

.featured-products h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
}

.all-books-text {
    text-align: end;
    font-size: 24px;
    color: rgb(70, 67, 67);
    cursor: pointer;
    text-decoration: underline;
    margin-right: 66px;
}

.all-books-text:hover {
    font-weight: bold;
}

.all-books-style {
    padding: 40px 0;
}

.product {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.product img {
    width: 200px;
    height: 200px;
}

.product h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.product p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}

.product .btn {
    background-color: #ff9900;
    color: #fff;
    text-decoration: none;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product .btn:hover {
    background-color: #ffae33;
}

/* ending Featured Products section styling */

/* starting BookDetails styling */
.header-of-bookDetails {
    background-color: var(--front-color);
    color: #fff;
    text-align: center;
    padding: 10px;
}

.main-of-bookDetails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.book-image-details {
    flex: 1 1 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.request-book{
    text-align: center;
    font-size: 15px;
    color: red;
    text-decoration: underline;
    cursor: pointer;
}

.make-order-text2 {
    display: block;
    margin: 1rem auto;
    padding: 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    background-color: var(--front-color);
    color: #fff;
    transition: 0.3s;
}

.make-order-text2:hover {
    background-color: var(--hover-background-color);
    color: #333;
}


.request-book:hover {
    color: #834040;
}

.book-image-details img {
    max-width: 100%;
    height: 345px;
}

.book-details {
    flex: 1 1 400px;
}

.book-details h2 {
    font-size: 24px;
    margin-top: 0;
}

.book-details p {
    font-size: 16px;
    margin-bottom: 25px;
}

.book-details button {
    background-color: var(--front-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    transition: 0.3s;
}

.book-details button:hover {
    background-color: var(--hover-background-color);
    color: #333;
}

.buttonBookDetails {
    background-color: var(--front-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    transition: 0.3s;
}

.buttonBookDetails:hover {
    background-color: var(--hover-background-color);
    color: black;
}

.add-to-cart {
    background-color: rgb(232, 226, 116);
    color: black;
}

.GO-GO {
    color: green;
}

.add-to-cart:hover {
    background-color: rgb(162, 157, 70);
    color: rgb(153, 244, 128);
}

.comments-section {
    margin-top: 2rem;
    padding-left: 85px;
}

.comments-section h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.comments-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.comments-section li {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.comments-section li h4 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.comments-section li p {
    font-size: 1rem;
    line-height: 1.5;
}

/* ending BookDetails styling */

/* starting Request Book styling */

.request-text {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

form label {
    font-size: 20px;
    margin-bottom: 10px;
}

.form-request input[type="text"] {
    padding: 10px;
    font-size: 18px;
    border: none;
    border-bottom: 2px solid #ccc;
    width: 100%;
    margin-bottom: 20px;
}

.feedback-request {
    text-align: center;
    color: green;
}

.form-request button[type="submit"] {
    padding: 10px 20px;
    font-size: 18px;
    background-color: var(--front-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 80px;
}

.form-request button[type="submit"]:hover {
    background-color: var(--hover-background-color);
    color: #333;
}

/* ending Request Book styling */

/* starting footer styling */
.footer {
    background-color: #f8f8f8;
    padding: 50px 0;
}

.row-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}


.col-md-4 {
    text-align: center;
}

.footer h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer li {
    margin-bottom: 10px;
}

.footer a {
    color: var(--front-color);
    text-decoration: none;
}

.footer a:hover {
    color: var(--hover-background-color);
}


.footer p {
    color: var(--hover-background-color);
    font-size: 14px;
    color: var(--front-color);
    font-weight: bold;
    margin-top: 30px;
    text-align: center;
}
/* ending footer styling */

/* starting cart styling */
.cart-text {
    text-align: center;
    margin-top: 30px;
}

.total-price {
    font-size: 24px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.total-price span {
    color: red;
}

.cart-items {
    margin: 30px auto;
    padding: 0;
    max-width: 600px;
}

.cart-items li {
    display: flex;
    justify-content: space-between;
    border: 1px solid #322d2d;
    background-color: #ccc;
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 10px;
}
/* ending cart styling */

/* .admin-image-books {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
} */

.admin-books {
    width: 50%;
    margin-left: 25%;
    border-collapse: collapse;
    /* margin-bottom: 20px; */
    border: 2px solid #ccc;
    border-radius: 4px;
}

.admin-books thead {
    background-color: #f2f2f2;
}

.admin-books th,
.admin-books td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.admin-books th {
    background-color: #f2f2f2;
    text-align: center;
}

/* .admin-books td img {
    max-width: 100px;
    height: auto;
} */

/* .admin-image-books {
    display: block;
    margin: 0 auto;
} */

.add-book-button, .admin-books button {
    padding: 10px 20px;
    background-color: var(--front-color);
    color: #fff;
    transition: 0.3s;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.add-book-button:hover {
    background-color: var(--hover-background-color);
    color: #333;
}

.admin-books button:hover {
    background-color: var(--hover-background-color);
    color: #333;
}

.add-book-text {
    text-align: center;
    background-color: var(--background-color);
    margin: 0;
    padding-top: 15px;
    padding-bottom: 20px;
}

.admin-table-label {
    text-align: center;
    padding-top: 25px;
    background-color: var(--background-color);
    margin: 0;
    padding-bottom: 10px;
}

.parent-admin-panel {
    background-color: var(--background-color);
}

.space {
    padding-bottom: 50px;
}